<div class="container">
  <div class="row flex-row-reverse">

    <div class="col-lg-3 offset-lg-1 col-sm-12 topic-create-button">
      <%= link_to new_topic_path do %>
        <i class="fas fa-plus"> 新しいスレッドを投稿する</i>
      <% end %>

      <div class="row">

        <div class="col-sm-12 category-search">

          <%= render 'layouts/category_search', categories: @categories %>

        </div>

      </div>

    </div>
    <% if params[:category_id].blank? %>

      <%= render 'index', topics: @topics %>

    <% else %>

      <%= render 'index', topics: @category_topics %>

    <% end %>

  </div>
</div>