<div class="container-lg">
  
  <h2 class="ranking-headline"><b><i class="fas fa-fire-alt"></i> Weekly Ranking <i class="fas fa-fire-alt"></i></b></h2>
  
  <div class="row">

    <div class="col-lg-4 col-12 pl-lg-5">
      <div class="topic-index-button">
        <%= link_to new_topic_path do %>
          <i class="fas fa-plus"> New Threads</i>
        <% end %>
      </div>

      <div class="row">

        <div class="col-12 category-search d-none d-lg-block">

          <%= render 'layouts/category_search', categories: @categories %>

        </div>

      </div>

    </div>

    <div class="col-lg-8 col-12 order-lg-first topic-index">
      <%= render 'ranking_index', topics: @weekly_ranking %>
    </div>

    <div class="col-12 category-search d-block d-lg-none mb-5">
      <%= render 'layouts/category_search', categories: @categories %>
    </div>

  </div>
</div>