<div class="container-lg">

    <div class="row user-topics">

    <div class="col-md-6 col-10 text-center user-topics-image">
      <%= attachment_image_tag(@user, :profile_image, size: "75x75", fallback: "no-user.jpg") %>
      <%= @user.name %>'s follows
    </div>

  </div>

  <% if @users.blank? %>

    <h3 class="no-relationships-text"><b>フォローしているユーザーはいません</b></h3>

  <% else %>

    <%= render 'users/index', users: @users %>

  <% end %>
</div>