<div class="container-lg">
  <div class="my-5 row">

    <div class="col-12">
      <h3 class="text-center notifications-headline"><b>Notifications</b></h3>
    </div>
    
    <% if @notifications.exists? %>

      <div class="col-12 notifications-destroy-all text-right">
        <%= link_to notifications_destroy_all_path, class: "btn btn-danger", method: :delete, data: { confirm: '全て削除しますか？' } do %>
          <i class="far fa-times-circle"> All</i>
        <% end %>
      </div>

      <div class="col-12 my-3">
        <%= paginate @notifications %>
      </div>

      <%= render @notifications %>

      <div class="col-12 my-3">
        <%= paginate @notifications %>
      </div>
    
    <% else %>

      <p class="text-center d-block w-100 font-weight-bold">通知はありません</p>

    <% end %>

  </div>
</div> 
