<div class="container-lg">
  <h3 class="mt-5 text-center notifications-headline"><b>Notifications</b></h3>
  <div class="mt-3 row">
    
    <% if @notifications.exists? %>
      <div class="notifications-destroy-all text-right">
        <%= link_to notifications_destroy_all_path, class: "btn btn-danger", method: :delete, data: { confirm: '全て削除しますか？' } do %>
          <i class="far fa-times-circle">All Delete</i>
        <% end %>
      </div>
      <%= render @notifications %>
      <%= paginate @notifications %>

    <% else %>

      <p>通知はありません</p>

    <% end %>

  </div>
</div> 
