<div class="container-lg">
  <div class="row user-topics">

    <div class="col-12 pl-5 user-topics-image">
      <%= attachment_image_tag(@user, :profile_image, size: "75x75", fallback: "no_image.jpg") %>
      <%= @user.name %>'s Threads
    </div>

  </div>
    
  <div class="row">

    <div class="col-12 topic-index">
      <%= render 'topics/index', topics: @topics %>
    </div>

  </div>

</div>
