<div class="about-backimage">
  <div class="about-main">
    <div class="about-main-text">
      <h1>Welcom to 
      <br>Daddy's break!</h1>
      <p>ここはパパ達が気軽に相談ができる休める場所です。
      <br>いま世間のパパは何を悩んでいるのでしょう…。</p>
    </div>
    <div class="about-login">
      <%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt"> Rest now</i>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row about-section">

    <div class="col-lg-5 col-sm-12 about-section-left">
      <h3><b>スレッドを立ち上げて
      <br>相談してみよう！</b></h3>
      <p>サイトの利用には会員登録が必要です。
      <br>まずは会員登録をしてみよう！</p>
    </div>

    <div class="col-lg-5 offset-lg-1 col-sm-12 about-section-right">
      <h3><b>より交流を深めよう！</b></h3>
      <p>マイページを編集して自己紹介文を書いたり、
      <br>アイコンを設定したりしてみましょう!</p>
    </div>

  </div>
</div>