<div class="about-backimage">
  <div class="about-main">
    <div class="about-main-text">
      <h1>Welcom to 
      <br>Daddy's break!</h1>
      <p>ここはパパ達が気軽に相談ができる休める場所です。
      <br>いま世間のパパは何を悩んでいるのでしょう…。</p>
    </div>
    <div class="about-login">
      <%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt"> Rest now</i>
      <% end %>
    </div>
  </div>
</div>

<div class="container-lg">
  <div class="row">

    <div class="col-12 about-section">
      <div class="row justify-content-center">
        <div class="col-4">
          <%= image_tag asset_path('Daddy_s_logo.svg'), class: "about-section-image", alt: "logo" %>
        </div>
        <div class="col-12 text-center about-section-text p-0">
          <h3><b>Daddy’s　breakで、休憩しよう</b></h3>
          <p>話すことでストレスを解消することができます</p>
          <p>もちろん真剣な話だけではなく、すこしふざけた話や、愚痴、趣味の話でもいいでしょう</p>
          <p>ここでしっかり休息してから<b>現実へ</b>もどりましょう</p>
        </div>
      </div>
    </div>

    <div class="col-12 about-section">
      <div class="row">

        <div class="col-6 text-center">
          <%= image_tag asset_path("homes/about-section-left.jpg"), class: "about-section-image" %>
        </div>

        <div class="col-6 about-section-text">
          <h3><b>スレッドを立ち上げて相談してみよう</b></h3>
          <p>サイトの利用には会員登録が必要です。</p>
          <p>まずは会員登録をしてみよう</p>
        </div>

      </div>

    </div>

    <div class="col-12 about-section">
      <div class="row">

        <div class="col-6 about-section-text">
          <h3><b>より交流を深めよう</b></h3>
          <p>マイページを編集して自己紹介文を書いたり</p>
          <p>アイコンを設定したりしてみましょう</p>
        </div>

        <div class="col-6 text-center">
          <%= image_tag asset_path("homes/about-section-right.jpg"), class: "about-section-image" %>
        </div>

      </div>
    </div>

  </div>
</div>