  <div class="about-backimage">
    <div class="about-main">
      <div class="about-main-text">
        <h1>Welcom to 
        <br>Daddy's break!</h1>
        <p>ここはパパ達が気軽に相談ができる休める場所です。いま世間のパパは何を悩んでいるのでしょう…。</p>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row about-section justify-content-between">
    <div class="col-xs-6 about-section-left align-self-center">
      <h3>スレッドを立ち上げて相談してみよう！</h3>
      <p>スレッドの立ち上げ、コメントは会員登録が必要です。
      <br>まずは会員登録をしてみよう！</p>
      <%= image_tag 'homes/about-section-left.jpg', class: 'about-section-image' %>
    </div>
    <div class="col-xs-6 about-section-right">
      <h3>より交流を深めよう！</h3>
      <p>マイページを編集して自己紹介分を書いたり、
      <br>アイコンを設定したりしてみましょう!</p>
      <%= image_tag 'homes/about-section-right.jpg', class: 'about-section-image' %>
    </div>
  </div>

</div>