/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #EBECF0;
}

a {
  color: #3F8EFC;
}

#error_explanation {
  h2 {
    font-size: 16px;
  }
}

.navbar {
  padding: 0px;
}

.navbar-link {
  font-size: 16px;
  margin: 0 0 0 10px;
  color: white;
}

.header {
  background-color: #3F8EFC;
  .Daddy-s-logo {
    max-width: 100%;
    height: 50px;
  }  
}

.scroll_header{
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  background-color: #EBECF0;
  .header-logo {
    color: #3F8EFC;
  }
  .Daddy-s-logo {
    max-width: 100%;
    height: 50px;
  }  
}
.scroll_header.fixed{
  position: fixed;
  top: 0;
}

.header-logo {
  font-size: 30px;
  color: #FFFFFF;
}

.header-font-type {
  font-family: 'Playfair Display', serif;
}

.nav {
  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
}
.header-user-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown {
  .dropdown-menu {
    color: #3F8EFC;
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
    display: block;
  }
  &:hover {
      .dropdown-menu {
          transform: scale(1);
      }
  }
}

.dropdown-item {
  color: #3F8EFC;
  font-size: 16px;
}

.btn-white {
  font-weight: bold;
  line-height: 2;
  color: rgba(63, 142, 252, 0.8);
  background-color: #EBECF0;
  transition: all 0.5s ease-in-out;
  box-shadow:
    5px 5px 10px #c8c9cc, 
    -5px -5px 10px #ffffff,
    inset 5px 5px 10px transparent,
    inset -5px -5px 10px transparent;
}

 .btn-white:hover {
  color: #3F8EFC;
  box-shadow:
    5px 5px 10px transparent,
    -5px -5px 10px transparent,
    inset 5px 5px 10px #c8c9cc, 
    inset -5px -5px 10px #ffffff;
}

.add-image {
  font-size: 24px;
  color: rgba(63, 142, 252, 0.6);
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 80px;
  padding: 10px 0;
  margin: 20px 0;
  text-align: center;
  border-radius: 100px;
  background: #EBECF0;
  transition: all 0.5s ease-in-out;
  box-shadow:
    5px 5px 10px #c8c9cc, 
    -5px -5px 10px #ffffff,
    inset 5px 5px 10px transparent,
    inset -5px -5px 10px transparent;
}

 .add-image:hover {
  color: #3F8EFC;
  box-shadow:
    5px 5px 10px transparent,
    -5px -5px 10px transparent,
    inset 5px 5px 10px #c8c9cc, 
    inset -5px -5px 10px #ffffff;
}

.add-image p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 2px;
}

.add-image input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

a:hover{
  text-decoration: none;
}

.flash {
  text-align: center;
  margin: 0;
}

.border {
  width: 100%;
  margin: 30px 0px;
}

.neumorphism-form {
  background-color: #EBECF0;
  border: none;
  transition: box-shadow 0.5s ease-in-out;
  box-shadow:
  4px 4px 8px #c8c9cc, 
  -4px -4px 8px #ffffff,
  inset 4px 4px 8px transparent,
  inset -4px -4px 8px transparent;
  &:hover,  &:focus-within {
    background-color: #EBECF0;
    box-shadow:
    4px 4px 8px transparent, 
    -4px -4px 8px transparent,
    inset 4px 4px 8px #c8c9cc, 
    inset -4px -4px 8px #ffffff;
  }
}

.sticky-footer {
  background-color: #3F8EFC;
  color: white;
  font-size: 12px;
  width: 100%;
  height: 45px;
  display: block;
}

/*kaminariのデザイン*/
.pagination {
  justify-content: center;
  &:first-child .page-link {
    border-radius: 15px;
  }
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: rgba(63, 142, 252, 0.6);   /*文字の色を変える*/
}

.pagination>li>a {
  background-color: #EBECF0;
  border-radius: 15px;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
  box-shadow:
  4px 4px 8px #c8c9cc, 
  -4px -4px 8px #ffffff,
  inset 4px 4px 8px transparent,
  inset -4px -4px 8px transparent;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  color: #3F8EFC;
  box-shadow:
  4px 4px 8px transparent, 
  -4px -4px 8px transparent,
  inset 4px 4px 8px #c8c9cc, 
  inset -4px -4px 8px #ffffff;
}

/* 表示しているページ番号のデザイン */
.pagination>.page-item.active>.page-link {     
  background: #EBECF0;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  color: #3F8EFC;
  box-shadow:
    inset 4px 4px 8px #c8c9cc, 
    inset -4px -4px 8px #ffffff;
}

// 画面TOPに戻るボタン
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: #3F8EFC;
  opacity: 0.8;
  border-radius: 50%;
}
#page_top > a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top > a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: white;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top > a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: white;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

// devise関連
.skippr {
  .skippr-nav-container {
    display: none;
  }
  .skippr-arrow {
    display: none;
  }
}

#devise-visual {
  position: relative;
  height: 100%;
  .devise-form-area {
    width: 100%;
    color: white;
    float: left;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 10;
    text-align: center;
    h1 {
      margin-bottom: 30px;
    }
    p {
      margin: 30px 0;
      opacity: 0.8;
    }
  }
}

#devise-images {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  div::before{
    content: ' ';
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.devise-image1 {
  background-image: image-url("logins/login-image1.jpg");
  background-position: center;
}

.devise-image2 {
  background-image: image-url("logins/login-image2.jpg");
  background-position: center
}

.devise-image3 {
  background-image: image-url("logins/login-image3.jpg");
  background-position: center;
}

.devise-image4 {
  background-image: image-url("logins/login-image4.jpg");
  background-position: center;
}

.devise-form {
  min-height: 10rem;
  margin: auto;
  padding: .5rem;
}

.devise-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  .fa-stack-1x {
    color: black;
  }
}

.devise-user-field, .devise-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms ease-in;
  }
}

.devise-links {
  bottom: 5%;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  text-align: center;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}
.devise-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms ease-in;
  &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms ease-in;
  }
}

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }

  // IE
  &:-ms-input-placeholder {
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

.devise-form input {
  @include placeholder(white);
  opacity: 0.6;
}

// ボトムナビゲーション
.bottom-sticky-block {
  margin-bottom: 50px;
}

.bottom-sticky-nav {
  border-top: 1px #dee2e6 solid;
  height: 60px;
  position: fixed;
  display: block;
  background: #EBECF0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.bottom-sticky-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.bottom-sticky-nav ul li {
  flex: 1;
  }

.bottom-sticky-nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  height: 60px;
  color: #3F8EFC;
}

.bottom-sticky-nav ul li a:hover,
.bottom-sticky-nav ul li a:focus {
  text-decoration: none;
}

.bottom-sticky-nav ul li a i {
  font-size: 16px;
}

.bottom-sticky-nav ul li a span {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}


