/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  font-family: 'Noto Sans JP', sans-serif;
}

.logo {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

.header-user-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.dropdown-toggle::after {
  display: none;
}

.btn-bule {
  color: white;
  background-color: #2080C0;
  border-color: white;
}

body {
  background-color: #E0F0F0;
  padding-top: 85px;
}

a:hover{
  text-decoration: none;
}

.navbar {
  background-color: #2080C0;
  color: white;
}

.navbar-link {
  font-size: 16px;
  margin: 0 0 0 10px;
  color: white;
}

.navbar-link > i:hover, .navbar-link > span:hover {
  color: white;
}

.flash {
	text-align: center;
}
.border {
  width: 100%;
  margin: 30px 0px;
  border-bottom: 1px solid #e3e3e3;
}

/*ページネーション自体のデザイン*/
.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.page-item.active>.page-link {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: #2080C0;
  opacity: 0.8;
  border-radius: 50%;
}
#page_top > a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top > a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: white;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top > a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: white;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}