// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-favorite {
  text-align: right;
  background-color: #EBECF0;
}

.comment-favorite-text {
  color: #3F8EFC;
}