// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-heart{
  color: #e2264d;
}

.fa-heart.post {
  animation: heartAnimation .4s;
}

@keyframes heartAnimation {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  80% {
    transform: scale(0.95, 1.05) translate(0%, -3%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

.comment-favorite {
  text-align: right;
  background-color: #EBECF0;
  z-index: 1;
}

.comment-favorite-text {
  color: #3F8EFC;
}