// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-backimage {
  width: 100%;
  height: 800px;
  background-image: image-url("homes/about-back.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
}

.about-main-text {
  text-align: center;
}

.about-main-text > h1 {
  font-size: 150px;
  line-height: 200px;
  display: inline-block;
  text-align: left;
  margin-top: 15px;
}

.about-main-text > p {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-login {
  text-align: center;
  font-size: 48px;
  a{
    color: black;
  }
  i {
    font-style: oblique;
  }
}

.about-section-left, .about-section-right {
  border: 0.1em none;
  width: 48%;
  height: 400px;
  border-radius: 50px;
  margin: 160px 0px;
  background-color:rgba(255,255,255,0.9);
  text-align: center;
  padding: 150px 0px;
}

.about-section-left, .about-section-right {
h3 {
    text-shadow: 3px 2px 0px rgba(255, 255, 255, 0.72);
    span {
    display: block;
    transform: rotate(-7.5deg);
    }
  }
}

.about-section-left {
  background-image: image-url("homes/about-section-left.jpg");
  background-size: cover;
  background-blend-mode:lighten;
}

.about-section-right {
  background-image: image-url("homes/about-section-right.jpg");
  background-size: cover;
  background-blend-mode:lighten;
}

.about-section-image {
  width: 40%;
  height: 40%;
  border-radius: 50px;
  margin-left: 20px;
}