// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-backimage {
  width: 100%;
  height: 100%;
  background-image: image-url("homes/about-back.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
}

.about-main {
  height: 100vh;
}

.about-main-text > h1 {
  font-size: 130px;
  line-height: 130px;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.about-main-text > p {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-login {
  font-size: 48px;
  margin-bottom: 50px;
  a{
    color: black;
  }
  i {
    font-style: oblique;
  }
}

.about-section {
  margin: 150px 0px;
  text-align: center;
  padding: 150px 0px;
}

.about-section-image {
  opacity: 0;
  transform: translateY(100px);
  width: 75%;
  height: 100%;
}

.about-section-text {
  padding-top: 50px;
  opacity: 0;
  transform: translateY(-100px);
  h3 {
    margin-bottom: 50px;
    b {
    border-bottom: 3px solid #3F8EFC;
    }
  }
  p {
    font-size: 20px;
  }
}

.scroll-fade-image {
  animation: scrollFadeImage 3s both;
}

.scroll-fade-text {
  animation: scrollFadeText 4s both;
}

@keyframes scrollFadeImage {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scrollFadeText {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}