// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.about-back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.about-main {
  height: clamp(700px, 100vh, 2000px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-main-top, .about-main-bottom {
  .about-main-text { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1 {
      display: block;
      font-weight: bold;
      font-size: clamp(42px, 10vw, 100px);
    }
    .about-main-body {
      font-weight: bold;
      width: clamp(160px, 40vw, 600px);
      font-size: clamp(16px, 2vw, 36px);
      margin-bottom: 30px;
    }
    .about-main-logo {
      width: clamp(150px, 25vh, 400px);
    }
  }
}

.about-main-text > p {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-login {
  font-size: clamp(32px, 5vw, 48px);
  margin:0 0 30px 10%;
  text-align: center;
  a{
    color: black;
  }
  i {
    font-style: oblique;
  }
}

.about-back-color {
  background-color: #fff;
}

.about-section {
  overflow: hidden;
  text-align: center;
  height: 100vh;
}

.about-section-right {
  opacity: 0;
  transform: translateX(100px);
}

.about-section-left {
  opacity: 0;
  transform: translateX(-100px);
  h3 {
    font-size: clamp(24px, 10vw, 48px);
    b {
    border-bottom: 3px solid #3F8EFC;
    }
  }
}

.about-section-content {
  display: inline-block;
  text-align: center;
  p {
    text-align: left;
    font-size: clamp(16px, 5vw, 24px);
  }
  .about-headline {
    font-size: clamp(20px, 5vw, 32px);
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    color: #3F8EFC;
    width: 100%;
  }
}

.about-image-main {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.about-login-bottom {
  h1 {
    font-size: clamp(32px, 5vw, 64px);
    color: #000;
    margin-bottom: 5%;
  }
  a {
    font-size: clamp(40px, 8vw, 96px);
    padding: 5%;
    border-radius: 50px;
  }
  i {
    color: #3F8EFC;
  }
}

.scroll-fade-right {
  animation: scrollFadeImage 1s both;
}

.scroll-fade-left {
  animation: scrollFadeText 1s both;
}

@keyframes scrollFadeImage {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scrollFadeText {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-link {
  margin-bottom: 100px;
}

.about-border {
  content: "";
  border: .8px #c6cedc solid;
  margin: 10% 10px;
  width: 100%;
}