// Place all the styles related to the replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply-form-area {
  margin-top: 30px;
  padding: 30px 0;
  #reply-form {
    padding-top: 100px;
    margin-top: -100px;
  }
}

.reply-button {
  margin-bottom: 30px;
}

.reply-users {
  color: #3F8EFC;
}

.replied-user-name {
  font-size: 24px;
  line-height: 40px;
  color: #3F8EFC;
}

.reply-reply {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #3F8EFC;
}

.re-reply-icon {
  color: #3F8EFC;
}

.comment-reply-button {
  margin-top: 50px;
  font-size: 12px;
}