// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-index {
  margin: 30px 0;
  .list-group {
    margin: 0;
  }
  .list-group-item {
    background-color: #EBECF0;
  }
  h2 {
    color: #3F8EFC;
  }
}

.topic-index-title > a {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: bold;
 }

.topic-index-image {
  border-radius: 5px;
  img {
    width: clamp(80px, 65%, 120px);
  }
}

.topic-index-username {
  font-size: clamp(12px, 2vw, 16px);
}

.topic-index .topic-list-item {
  padding: 20px 0px 20px 0px;
}

.topic-index-count {
  color: #3F8EFC;
  font-size: clamp(12px, 2vw, 16px);
}

.topic-index-kaminari {
  margin-top: 15px;
}

.header {
  .nav-button {
    margin-left: 15px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    transition: box-shadow 0.2s ease-out;
    box-shadow:
      3px 3px 6px #3679d6, 
      -3px -3px 6px #48a3ff,
      inset 3px 3px 6px transparent,
      inset -3px -3px 6px transparent;
    a {
      padding: 12px;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 12px;
      line-height: 0;
    }
  }

  .nav-button:active {
    box-shadow:
      3px 3px 6px transparent,
      -3px -3px 6px transparent,
      inset 3px 3px 6px #3679d6, 
      inset -3px -3px 6px #48a3ff;
  }
}

.scroll_header {
  .nav-button {
    margin-left: 15px;
    color: #3F8EFC;
    text-align: center;
    border-radius: 50px;
    transition: box-shadow 0.2s ease-out;
    box-shadow:
      3px 3px 6px #c8c9cc, 
      -3px -3px 6px #ffffff,
      inset 3px 3px 6px transparent,
      inset -3px -3px 6px transparent;
    a {
      padding: 12px;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 12px;
      line-height: 0;
    }
  }

  .nav-button:active {
    box-shadow:
      3px 3px 6px transparent,
      -3px -3px 6px transparent,
      inset 3px 3px 6px #c8c9cc, 
      inset -3px -3px 6px #ffffff;
  }
}

.topic-new-image, .topic-edit-image {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .edit-image {
    width: clamp(100px, 40%, 150px);
  }
  img {
    padding-left: 30px;
    text-align: center;
  }
}

.topic-image {
  width: clamp(100px, 100%, 300px);
}

.topic-form-area {
  margin-bottom: 30px;
}

.topic-body {
  font-size: clamp(16px, 3vw, 24px);
  padding: 30px 0;
  display: inline-block;
}

.topic-title {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #3F8EFC;
}

.topic-title .title {
  font-weight: bold;
  font-size: clamp(24px, 4vw, 48px);
  padding: 30px 15px;
}

#topic_body {
  height: 160px;
}

.topic-edit-btn, .topic-destroy-btn {
  margin: 15px;
}

.topic-index-created {
  font-size: 10px;
}

.ranking-headline {
  margin-top: 15px;
  i {
    color: red;
  }
}

.ranking-topic-index {
  position: relative;
}

.ranking-topic-image {
  img {
    width: clamp(80px, 65%, 120px);
  }
}

.topic-ranking-number {
  font-weight: bold;
  color: #3F8EFC;
  font-family: 'Playfair Display', serif;
}

.topic-ranking-number-1 {
  font-size: clamp(24px, 7vw, 32px);
}

.topic-ranking-number-2 {
  font-size: clamp(20px, 6vw, 28px);
}

.topic-ranking-number-3 {
  font-size: clamp(16px, 5vw, 24px);
}

.ranking-icon1 {
  position: absolute;
  background-image: image-url('ranking/no.1-crown.png');
  height: 32px;
  width: 32px;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
}

.ranking-icon2 {
  position: absolute;
  background-image: image-url('ranking/no.2-crown.png');
  height: 32px;
  width: 32px;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;

}

.ranking-icon3 {
  position: absolute;
  background-image: image-url('ranking/no.3-crown.png');
  height: 32px;
  width: 32px;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
}