// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-topics-text {
  margin: 30px;
}

.topic-index {
  background-color: white;
  margin: 30px 0;
}

.topic-index > .list-group {
  margin: 0;
}

.topic-index-title > a {
  font-size: 20px;
 }

.topic-index-title > .row {
  margin-top: 50px;
}

.topic-index-image {
  border-radius: 5px;
}

.topic-index .topic-list-item {
  padding: 20px 0px 20px 0px;
}

.topic-index-count {
  color: #05204A;
}

.topic-index-kaminari {
  margin-top: 15px;
}

.topic-create-button {
  height: 50px;
  margin-top: 30px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  transition: box-shadow 0.5s;
  box-shadow:
    5px 5px 10px #d9d9d9, 
    -5px -5px 10px #ffffff,
    inset 5px 5px 10px transparent,
    inset -5px -5px 10px transparent;
}

.topic-create-button:hover {
  box-shadow:
    5px 5px 10px transparent,
    -5px -5px 10px transparent,
    inset 5px 5px 10px #d9d9d9, 
    inset -5px -5px 10px #ffffff;
}

.topic-create-button > a {
  font-size: 14px;
  color: #05204A;
}

.topic-new {
  padding: 50px;
}

.topic-new .col-lg-6 {
  margin-bottom: 30px;
}

.topic-new-image {
  text-align: center;
}

.topic-form {
  width: 100%;
}

.topic-show {
  background-color: white;
  margin: 30px;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.topic-body {
  border-top: 0.1em grey dotted;
  padding-top: 30px;
  display: inline-block;
}

.topic-title {
  padding-top: 15px;
  padding-bottom: 30px;
}

.topic-title .title {
  font-size: 24px;
  padding-bottom: 30px;
}

#topic_body {
  height: 160px;
}

.topic-edit-btn, .topic-destroy-btn {
  margin: 15px;
}

.topic-index-created {
  font-size: 10px;
}

.ranking-action {
  width: 100%;
  margin-top: 30px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  color: #05204A;
  display: inline-block;
  transition: box-shadow 0.5s;
  box-shadow:
    5px 5px 10px #d9d9d9, 
    -5px -5px 10px #ffffff,
    inset 5px 5px 10px transparent,
    inset -5px -5px 10px transparent;
}

.ranking-action:hover {
  box-shadow:
    5px 5px 10px transparent,
    -5px -5px 10px transparent,
    inset 5px 5px 10px #d9d9d9, 
    inset -5px -5px 10px #ffffff;
}

.ranking-headline {
  margin-top: 15px;
  i {
    color: red;
  }
}

.ranking-image {
  text-align: right;
  a {
    margin-left: 10px;
  }
}

.topic-ranking-number {
  color: #05204A;
  font-family: 'Playfair Display', serif;
}

.topic-ranking-number-1 {
  font-size: 28px;
}

.topic-ranking-number-2 {
  font-size: 24px;
}

.topic-ranking-number-3 {
  font-size: 20px;
}

.ranking-icon1 {
  position: absolute;
  background-image: image-url('topics/no.1-crown.png');
  height: 32px;
  width: 32px;
  transform: translate(-50%, -50%);
  left: 15%;
}

.ranking-icon2 {
  position: absolute;
  background-image: image-url('topics/no.2-crown.png');
  height: 32px;
  width: 32px;
  transform: translate(-50%, -50%);
  left: 15%;
  top: 12%;
}

.ranking-icon3 {
  position: absolute;
  background-image: image-url('topics/no.3-crown.png');
  height: 32px;
  width: 32px;
  transform: translate(-50%, -50%);
  left: 15%;
  top: 12%;
}