// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index {
  margin-top: 30px;
  padding: 0px 10px;
}

.user-index-image {
  text-align: center;
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

.user-index-name {
  font-size: 24px;
  font-weight: bold;
  color: #3F8EFC;
}

.user-index-introduction {
  font-size: 16px;
  margin-top: 20px;
  color: #3F8EFC;
}

.user-index-follow-action > a {
  border-radius: 50px;
}

.user-show {
  color: #3F8EFC;
}

.user-show-image {
  border-radius: 50px;
  img {
    margin-left: 3%;
    height: clamp(100px, 10vw, 150px);
    width: clamp(100px, 10vw, 150px);
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow:
    8px 8px 16px #cacbce, 
    -8px -8px 16px #ffffff;
  }
}

.user-show-profile {
  position: relative;
  border-radius: 50px;
  background-color: #EBECF0;
  transition: box-shadow 0.3s ease-out;
  box-shadow:
    8px 8px 16px #cacbce, 
    -8px -8px 16px #ffffff,
    inset 8px 8px 16px transparent,
    inset -8px -8px 16px transparent;
}

.user-show-profile:active {
  box-shadow:
    8px 8px 16px transparent,
    -8px -8px 16px transparent,
    inset 8px 8px 16px #cacbce, 
    inset -8px -8px 16px #ffffff;
}

.user-show-name {
  font-size: clamp(32px, 5vw, 48px);
  text-shadow:
    4px 4px 8px #cacbce, 
    -4px -4px 8px #ffffff;
    span {
    display: block;
    transform: rotate(-7.5deg);
  }
}

.user-show-threads, .user-show-following, .user-show-follower {
  text-align: center;
  h4 {
    font-size: clamp(16px, 3vw, 24px);
  }
  p {
    font-size: clamp(12px, 2vw, 16px);
  }
}

.user-show-introduction {
  margin: 50px 5px 100px;
}

.user-show-follow-action {
  a {
    border-radius: 50%;
  }
}

.quit-link {
  margin: 15px;
  padding: 0px;
  font-size: 12px;
  text-align: right;
}

.user-edit-form-area {
  margin-bottom: 30px;
}

.user-topics {
  margin-top: 30px;
}

.user-topics-image > img {
  border-radius: 50%;
}

.user-show-follow-action {
  .user-edit-btn {
    border-radius: 50%;
    a {
      color: #fff;
    }
  }
}

.user-edit {
  margin: 30px 0px;
  padding: 10px;
  .add-image {
    margin: 15px auto 15px auto;
    display: block
  }
}

.user-edit-image {
  text-align: center;
}

.user-edit-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 0.1px white solid;
}

.user-edit-form {
  input, textarea {
    width: 100%;
    padding: 4px 8px;
    border-radius: 10px;
    margin: 10px 0px;
  }
}

.user-quit {
  margin: 30px 0;
}

.user-quit-text {
  text-align: center;
}

.user-quit-button {
  margin-bottom: 50px;
}

.quit-btn {
  margin: 15px 0;
}