// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index {
  margin-top: 30px;
  padding: 0px 10px;
}

.user-index-image {
  text-align: center;
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

.user-index-name {
  font-size: 24px;
  font-weight: bold;
  color: #3F8EFC;
}

.user-index-introduction {
  font-size: 16px;
  margin-top: 20px;
  color: #3F8EFC;
}

.user-index-follow-action > a {
  border-radius: 50px;
}

.user-show {
  margin: 30px 0px 100px 0;
  color: #3F8EFC;
}

.user-show-image {
  position: relative;
  border-radius: 50px;
  box-shadow:
    8px 8px 16px #cacbce, 
    -8px -8px 16px #ffffff,
}

.user-show-image > img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.user-show-profile {
  padding-top: 50px;
  border-radius: 50px;
}
.user-show-profile {
  background-color: #EBECF0;
  transition: box-shadow 0.5s ease-in-out;
  box-shadow:
    8px 8px 16px #cacbce, 
    -8px -8px 16px #ffffff,
    inset 8px 8px 16px transparent,
    inset -8px -8px 16px transparent;
}

.user-show-profile:hover {
  box-shadow:
    8px 8px 16px transparent,
    -8px -8px 16px transparent,
    inset 8px 8px 16px #cacbce, 
    inset -8px -8px 16px #ffffff;
}

.user-show > .user-show-image {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.user-show-name {
  font-size: 48px;
  text-align: center;
  text-shadow:
    4px 4px 8px #cacbce, 
    -4px -4px 8px #ffffff;
    span {
    display: block;
    transform: rotate(-7.5deg);
  }
}

.user-show > .col-sm-12 {
  height: 450px;
  width: 450px;
}

.user-show-threads, .user-show-following, .user-show-follower {
  text-align: center;
}

.user-show-introduction {
  margin: 30px 5px;
}

.user-show-follow-action > a {
  border-radius: 50%;
}

.quit-link {
  margin: 15px;
  padding: 0px;
  font-size: 12px;
  text-align: right;
}

.user-edit-form-area {
  margin-bottom: 30px;
}

.user-edit-button {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: none solid;
  border-radius: 50%;
  background-color: #3F8EFC;
  box-shadow: 10px 10px 30px rgba(18, 47, 61, 0.5);
}

.user-edit-button > a {
  color: white;
}

.user-topics {
  margin-top: 30px;
}

.user-topics-image {
  font-size: 24px;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}

.user-topics-image > img {
  border-radius: 50%;
}

.user-edit {
  margin: 30px 0px;
  padding: 10px;
  .add-image {
    margin: 15px auto 15px auto;
    display: block
  }
}

.user-edit-image {
  text-align: center;
}

.user-edit-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 0.1px white solid;
}

.user-edit-form {
  input, textarea {
    width: 100%;
    padding: 4px 8px;
    border-radius: 10px;
    margin: 10px 0px;
  }
}

.user-quit {
  margin: 30px 0;
}

.user-quit-text {
  text-align: center;
}

.user-quit-button {
  margin-top: 15px;
}