<header class="nav navbar header">
  <div class="container-lg">
    <nav class='nav'>
      <%= link_to admins_categories_path, class: 'navbar-link' do %>
        <div class="header-logo nav-item">
          <i class="fas fa-crown"></i>
          Daddy's break
          <i class="fas fa-crown"></i>
        </div>
      <% end %>
    </nav>

    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="header-admin-text">
              Admin
            </div>
          </a>
            <div class="dropdown-menu">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'dropdown-item' do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
              <% end %>
            </div>
        </li>
      </ul>
    </nav>

  </div>
</header>