<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <nav class="fixed-bottom bottom-sticky-nav col-12 d-md-none">
        <ul>

          <li>
            <%= link_to topics_today_ranking_path do %>
              <i class="fas fa-crown"></i><span>Today</span>
            <% end %>
          </li>

          <li>
            <%= link_to topics_weekly_ranking_path do %>
              <i class="fas fa-crown"></i><span>Weekly</span>
            <% end %>
          </li>

          <li>
            <%= link_to new_topic_path do %>
              <i class="fas fa-plus"></i><span>New</span>
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fas fa-arrow-circle-up nav_page_top"></i><span>Page top</span>
            <% end %>
          </li>

        </ul>
      </nav>
    </div>
  </div>
<% end %>