<% if user_signed_in? %>

  <footer class="footer sticky-footer mt-auto py-3 d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-6">@CopyRight Daddy's break.inc</div>
        <div class="col-6 text-right"><%= link_to "What's Daddy's break?", root_path, style: "color: white;" %></div>
    </div>
    </div>
  </footer>

  <footer class="footer about-link mt-auto pr-4 d-block d-md-none">
    <div class="text-right"><%= link_to "What's Daddy's break?", root_path %></div>
  </footer>

<% end %>